# -----------------------------
# PHP / CodeIgniter
# -----------------------------
application/cache/*
application/logs/*
application/config/database.php

# Composer & PHP
vendor/
.env
*.zip

# -----------------------------
# Node.js / Vue.js / Vite
# -----------------------------
node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.vite/

# Local environment files
*.local

# -----------------------------
# Log files
# -----------------------------
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -----------------------------
# Docker
# -----------------------------
db_data/
docker/php/000-default.conf
docker/apache-php.dockerfile
docker/node.dockerfile
docker/vhost.conf

# -----------------------------
# IDEs & OS files
# -----------------------------
.vscode/
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

